<footer class="footer">
	<small>
		<a href="http://mindin1.com/">TwinPets.com</a>
		Twitter Alike Demo
	</small>
	<nav>
		<ul>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
			<li><a href="http://railstutorial.org/">ruby on rails tutorials contributed by Michael Hartl</a></li>
		</ul>
	</nav>
</footer>